/*header {
  text-align:right;;
  font-weight: 800;
  color: #3410a7;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 20px;

}*/
#navbar{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-weight: bold;
  color: black;
}
a {
  color: white;
  text-decoration: none;
  padding: 10px;
  padding-top: 10px;
}
body {
background-color: violet;
align-content: center;
}

img{
  width,height: 250px;
  border-radius:50%;
}

.section{
  height:900px;
  width: 100%;
}

#homeSection{
  background-color: yellow;
}
#aboutSection{
  background-color: white;
}
#projectSection{
  background-color: blue;
}
#resumeSection{
  background-color: purple;
}
/*.intro{
  padding: 20px 40px;
  font-family: font-family: Papyrus, fantasy;
  font-variant: small-caps;
  font-size: 50px;
  color: purple;
  text-align: center;
  background-image: radial-gradient(white, orange);
}

a:hover{
  background-color: grey;
}
h1 {
  text-align: right;
  font-size: 40px;
}
.button{
  padding-bottom: 10px;
}
#shrink{
  font-family:Monaco, Consolas, "Lucida Console", monospace;
}

#contact{
  text-align: center;
}
img {
  width: 180px;
  height: 80px;
}
li {
list-style-type: none;
{*/
