#navbar{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-weight: bold;
  color: black;
}
#navbar a {
  font-size: 20px;
  color: blue;
  text-decoration: none;
  padding: 20px;
}

.headshot{
  width,height: 100px;
  border-radius:50%;
}

.section{
  height:900px;
  width: 100%;
}
#homeSection{
  background-image: url("image/ocean.jpg");
  background-size: cover;
  text-align: center;
}
.contactlogo {
  padding-top: 80px;
}
.contactlogo img{
  height: 45px;
  width: 45px;
}
#homeSection .content{
  padding-top: 80px;
  width: 700px;
  text-align: center;
  margin-left: 350px;
}

#homeSection h1{
  margin-top: 0px;
  font-variant: small-caps;
  font-size: 50px;
}
#aboutSection{
  background-color: white;
  text-align: center;
}

#projectSection{
background-image: url("image/water.jpg");
background-size: cover;
background-color: #adb6f9;
}
#resumeSection{
  background-image: url("image/blue.jpg");
  background-size: cover;
  text-align: center;
  padding-top: 60px;
  font-size: 30px;
  /*background-color: #a3d0e4;*/
  text-decoration: underline;
}
#aboutSection .content{
  display: flex;
}
#aboutSection .content div{
  width: 460px;
  height: 900px;

}
#elephant{
background-image: url("image/elephant.jpg");
background-size: cover;
}
.about_sub_title h1{
  font-variant: small-caps;
  margin-top: 50px;
  color: black;
}
.show{
  visibility: hidden;
  font-weight: bolder;
}
#piano p{
  color: white;
}
#baking p{
  color:gold;
}
.show a{
  font-weight: bold;
  font-variant: small-caps;
  color: #3819f4;
  font-size: 20px;
}
#elephant:hover, #baking:hover, #piano:hover{
  opacity: 0.75;
}
#elephant:hover .show, #baking:hover .show, #piano:hover .show{
  visibility: visible;
}
#baking{
  background-image: url("image/macaron.jpg");
  background-size: cover;

}
#piano{
  background-image:url("image/piano.jpg");
  background-size: cover;
}

/*Projects*/
#projectSection{
  text-align: center;
  justify-content: space-around;
  padding-top: 100px;
}

#projectSection h1{
  font-family: sans-serif;
  font-style: normal;
  font-size: 50px;
}
#projectSection .wrapper{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
#projectSection .image{
  height:250px;
  width: 250px;
  margin-top: 10px;
  border-radius: 50%;

}
#projectSection .hi{
  height:250px;
  width: 250px;
  border-radius: 50%;


}
#project4{
  background-image: url("image/bread.png");
}

#project2{
  background-image: url("image/ring.png");
}

#project1{
  background-image: url("image/test.png");
}
#projectSection a{
  font-size: 30px;
  color:white;
  padding: 0px;
  font-family: cursive;

}
